.menu-item{
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    width: 30%;
    border-radius: 8px;
    align-self: center;
    margin:auto;
    margin-bottom: 50px;
}
.menu-item .l {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 20px;
  }

  .menu-item:hover {
    background-color: #111;
  }

.menu{
    text-align: center;
}
